/* HEADER */

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
}

.header-navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: white;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}

.header-navbar__logo {
    width: 16%;
    max-width: 245px;
    height: 100%;
}

.header-navbar__logo-link {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.header-navbar__logo-img {
    height: 31px;
    width: 134px;
}

.header-navbar__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
}

.header-navbar__item {
    position: relative;
}

.header-navbar__item::after {
    display: none;
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid var(--primary-color);
}

.header-navbar__item:hover {
    color: var(--primary-color);
}

.header-navbar__item:hover.header-navbar__item::after {
    display: block;
}

.header-navbar__item:hover > .navbar-item__info {
    display: flex;
}

.header-navbar__item-link {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    color: #222222;
    padding: 28px 0;
}

.icon-new {
    position: absolute;
    right: -20px;
    font-style: normal;
    color: white;
    background-color: var(--primary-color);
    font-size: 0.8rem;
    line-height: 0;
    padding: 8px 4px;
    border-radius: 4px;
}

.header-navbar__option {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    width: 26%;
}

.header-navbar__auth-link,
.header-navbar__language-text {
    font-size: 1.2rem;
    color: #666666;
}

.navbar-item__info {
    display: none;
    /* display: flex; */
    position: absolute;
    z-index: 9999;
    left: -88%;
    background-color: white;
    padding: 24px;
    border: 1px solid #CFD3D1;
    transition: all ease 0.2s;
}

.navbar-item__info-heading a{
    font-size: 1.5rem;
    display: block;
    color: #222222;
    margin-bottom: 16px;
}

.navbar-item__info-left {
    border-right: 1px solid #EEEEEE;
}

.navbar-item__info-body {
    display: flex;
}

.navbar-item__info-list {
    width: 170px;
    margin-right: 16px;
}

.navbar-item__info-list-heading{
    color: var(--primary-color);
    text-transform: uppercase;
    line-height: 1.4rem;
    margin-bottom: 6px;
}

.navbar-item__info-item {
    margin: 8px 0;
}

.navbar-item__info-item a {
    font-size: 1.4rem;
    color: #787878;
    line-height: 1.6rem;
    text-transform: uppercase;
}

.navbar-item__info-right {
    display: flex;
}

.navbar-item__info-body--right {
    flex-direction: column;
    border: none;
}

.navbar-item__info-body--right > .navbar-item__info-list {
    border-right: 1px solid #EEEEEE;
    margin-right: 0;
    padding: 0 10px 0 20px;
}

.navbar-item__info-body--right:last-child {
    padding-right: 0;
}

.navbar-item__info-heading--right {
    width: max-content;
    padding-left: 20px;
    color: var(--primary-color);
    text-transform: uppercase;
}

.icon-arrow {
    font-size: 0.6rem;
    vertical-align: middle;
    margin-bottom: 2px;
    color: var(--primary-color);
}

.navbar-item__info-text {
    width: max-content;
    margin-bottom: 16px;
}

.navbar-item__info-text:last-child {
    margin-bottom: 0;
}

.navbar-item__info-text-link {
    position: relative;
    display: block;
    color: #222222;
    font-weight: 600;
    font-size: 1.4rem;
}

.icon-new--in-info {
    position: unset;
    padding: 2px 4px;
    margin: 0 2px;
    vertical-align: middle;
}

.header-navbar__search-icon {
    font-size: 1.6rem;
}

.header-navbar__search {
    cursor: pointer;
    position: relative;
}

.header-navbar__search-show {
    position: absolute;
    display: none;
    background-color: white;
    top: 42px;
    right: 44px;
}

.header-navbar__search-show::after {
    content: "";
    position: absolute;
    top: -12px;
    right: 90px;
    border-width: 6px 6px;
    border-style: solid;
    border-color: transparent transparent rgba(121, 153, 142, 0.8901960784313725) transparent;
    border-radius: 2px;
}

.header-navbar__search-input {
    border: 1px solid rgba(121, 153, 142, 0.8901960784313725);
    border-right: none;
    width: 350px;
    height: 36px;
    padding-left: 20px;
    font-size: 1.4rem;
    color: #a1a1a1;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.header-navbar__search-input::placeholder {
    color: #a1a1a1;
    user-select: none;
}

.header-navbar__search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    border: 1px solid rgba(121, 153, 142, 0.8901960784313725);
    border-left: none;
    background-color: white;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
}

.header-navbar__language {
    position: relative;
    cursor: pointer;
}

.select-down {
    padding: 0 2px;
    vertical-align: top;
}

.header-navbar__language-text {
    cursor: pointer;
}

.header-navbar__language-select {
    display: none;
    position: absolute;
    top: 26px;
    right: 0;
    background-color: white;
    border: 1px solid #000;
    width: max-content;
}

.header-navbar__language-text--select {
    padding: 6px 16px;
}

.header-navbar__language-text--select:hover {
    background-color: rgba(219, 223, 222, 0.89);
}

.header-navbar__language-select::after {
    content: "";
    position: absolute;
    top: -18px;
    right: 0;
    width: 100%;
    height: 18px;
}

/* Modal */

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal {
    position: relative;
}

.modal-container {
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    animation: show 0.1s ease;
}

/* Welcome Pop */

.welcome-wrap {
    position: relative;
    width: 828px;
    height: 552px;
    background: url('../../images/BG_welcomePop.jpg') center center no-repeat;
    margin: 0 auto;
    margin-top: 55px;
    z-index: 10;
    animation: show 0.2s ease;
}

.welcome-left {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-45%, -50%);
    width: 236px;
    height: 112px;
    background: url('../../images/welcomeLogo_2018.png') center center no-repeat;
}

.welcome-right {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(40%, -50%);
    background-color: white;
    width: 334px;
    height: 362px;
}

.welcome-form {
    padding: 30px;
}

.welcome-heading-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #222222;
    padding-bottom: 16px;
}

.welcome-heading {
    font-size: 20px;
    color: #222222;
    line-height: 1.2;
}

.welcome-close-icon {
    font-size: 3rem;
    font-weight: 100;
    color: #727272;
    cursor: pointer;
}

.welcome-region {
    color: #222222;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 24px 0 8px;
}

.welcome-select {
    width: 98%;
    color: #666666;
    font-size: 1.4rem;
    padding: 8px 4px;
    border: none;
    border-bottom: 1px solid #AAAAAA;
}

.welcome-language {
    font-size: 1.2rem;
    margin: 24px 0 8px;
}

.welcome-language__select {
    font-size: 1.2rem;
}

.welcome-language__select option {
    font-size: 1.4rem;
}

.welcome-submit-wrap {
    width: 100%;
    text-align: center;
}

.welcome-submit {
    margin-top: 40px;
    width: 150px;
    border: none;
}