/* App Container */
.container {
    padding-top: 90px;
    background-color: #fff;
}

/* Banner */
.banner {
    height: calc(100vh - 90px);
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.fade {
    animation: fadeInOut linear 500ms;
    transition: all 500ms ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    96% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.slide-link {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: calc(100% - 170px);
}

.slide-bg {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-footer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    height: 125px;
}

.slide-footer__tit{
    display: flex;
    justify-content: space-between;
}

.slide-heading {
    font-family: 'Noto Sans', sans-serif;
    font-size: 3.2rem;
    font-weight: normal;
    display: -webkit-box;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    width: 70%;
    line-height: 4rem;
}

.slide-footer__tit-right {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    margin-right: 150px;
}

.slide-tag {
    position: absolute;
    width: 150px;
    top: 30px;
    right: 0;
}

.slide-description,
.slide-current,
.slide-limit {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
}

.slide-count {
    margin-right: 24px;
}

.slide-current,
.slide-limit {
    font-size: 1.4rem;
}

.slide-loading {
    position: relative;
    width: 100px;
    height: 2px;
    background-color: #dddddd;
    border-radius: 4px;
    margin-right: 24px;
}

.slide-loading::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    animation-name: loadingBar;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.slide-description {
    line-height: 2.2rem;
}

@keyframes loadingBar {
    0% {
        width: 0%;
    }
    5% {
        width: 0%;
    } 95% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
}