/* App Container */
.container {
    padding-top: 90px;
    background-color: #fff;
}

/* Banner */
.banner {
    height: calc(100vh - 90px);
}

.slideshow-container {
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
}

.fade {

}

.slide-link {
    display: block;
    max-width: 1349px;
    height: calc(100% - 170px);
}

.slide-img {
    width: 100%;
    height: 100%;
    background-image: url('../../images/VN_R_66_L012.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 125px;
}

.slide-footer__tit{
    display: flex;
    justify-content: space-between;
}

.slide-heading {
    font-family: 'Noto Sans', sans-serif;
    font-size: 3.2rem;
    font-weight: normal;
}

.slide-footer__tit-right {
    display: flex;
    justify-self: flex-end;
    align-items: center;
}

.slide-tag {
    position: relative;
    width: 125px;
    top: 10px;
}

.slide-description,
.slide-current,
.slide-limit {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
}

.slide-count {
    margin-right: 24px;
}

.slide-current,
.slide-limit {
    font-size: 1.4rem;
}

.slide-loading {
    position: relative;
    width: 100px;
    height: 2px;
    background-color: #dddddd;
    border-radius: 4px;
    margin-right: 24px;
}

.slide-loading::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    animation-name: loadingBar;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.slide-description {
    line-height: 2.2rem;
}

@keyframes loadingBar {
    0% {
        width: 0%;
    } 100% {
        width: 100%;
    }
}