/* App Container */
.container {
    padding-top: 80px;
    background-color: #fff;
}

/* Banner */
.banner {
    height: calc(100vh - 90px);
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.fade {
    animation: fadeInOut linear 500ms;
    transition: all 500ms ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    96% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.slide-link {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: calc(100% - 170px);
}

.slide-bg {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-footer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    height: 125px;
}

.slide-footer__tit {
    display: flex;
    justify-content: space-between;
}

.slide-heading {
    font-family: 'Noto Sans', sans-serif;
    font-size: 3.2rem;
    font-weight: normal;
    display: -webkit-box;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    width: 70%;
    line-height: 4rem;
}

.slide-footer__tit-right {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    margin-right: 150px;
}

.slide-tag {
    position: absolute;
    width: 150px;
    top: 30px;
    right: 0;
}

.slide-description,
.slide-current,
.slide-limit {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
}

.slide-count {
    margin-right: 24px;
}

.slide-current,
.slide-limit {
    font-size: 1.4rem;
}

.slide-loading {
    position: relative;
    width: 100px;
    height: 2px;
    background-color: #dddddd;
    border-radius: 4px;
    margin-right: 24px;
}

.slide-description {
    line-height: 2.2rem;
}

.loading-bar {
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
}

.loading-bar-animation {
    animation-name: loadingBar;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes loadingBar {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.slide-icon-wrapper {
    position: relative;
    height: 100%;
}

.slide-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 999;
    top: calc(50% - 15vh);
    opacity: 0;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition: opacity ease-in-out 300ms;
}

.slide-icon::after {
    content: "";
    position: absolute;
    top: 9px;
    width: 24px;
    height: 1px;
    background-color: #fff;

}

.slide-icon::before {
    content: "";
    position: absolute;
    top: 24px;
    width: 24px;
    height: 1px;
    background-color: #fff;

}

.slide-icon:hover::before,
.slide-icon:hover::after {
    filter: brightness(120%);
    background-color: #256462;
}

.slide-icon--left {
    left: 0;
}

.slide-icon--left::before {
    transform: rotate(45deg);
    left: 0;
}

.slide-icon--left::after {
    transform: rotate(145deg);
    left: 0;
}

.slide-icon--right {
    right: 0;
}

.slide-icon--right::before {
    transform: rotate(145deg);
    right: 0;
}

.slide-icon--right::after {
    transform: rotate(45deg);
    right: 0;
}

/* Innistar */

.innistar {
    padding-top: 200px;
    background-color: #fff;
    padding-bottom: 200px;
}

.innistar-head {
    font-family: 'Noto Sans', sans-serif;
}

.innistar-title__text {
    display: inline-flex;
    align-items: center;
    color: #222222;
    font-size: 8rem;
    font-weight: 500;
    line-height: 1;
}

.innis__tit {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.innis__tit::after {
    content: "";
    position: absolute;
    right: -40%;
    top: 50%;
    width: 130px;
    height: 1px;
    background-color: #222222;
}

.innis__tail {
    color: #222222;
    font-size: 2.8rem;
    line-height: 1;
}

.star-icon {
    color: #FFDF00;
    font-size: 5.2rem;
}


/* Innistar main */

.innistar-main {
    padding-top: 20px;
}

.star-box {
    position: relative;
    font-family: 'Nanum Gothic', 'Noto Sans KR', sans-serif;
    width: 100%;
    height: auto;
}

.star-box:hover > .star-overlay{
    visibility: visible;
    opacity: 1;
}

.star-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.star-header {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10px;
    left: 16px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
}

.instagram-icon {
    font-size: 3rem;
    margin-right: 16px;
    color: rgb(216, 216, 216);
    font-weight: 100;
}

.star-header__time {
    padding-top: 4px;
    font-size: 1.3rem;
}

.star-overlay {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(2, 65, 55, 0.8);
    cursor: pointer;
    transition: opacity ease-in-out 300ms;
    will-change: opacity;
}

.star-header--overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 0 16px;
}

.star-body {
    position: absolute;
    height: calc(100% - 60px);
    padding: 4px 0 0 8px;
    right: 8px;
    bottom: 6px;
    overflow-y: auto;
}

.star-body::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.star-body::-webkit-scrollbar-thumb {
    background-color: #7C8886;
}

.star-body__text {
    font-size: 1.4rem;
    color: #fff;
    line-height: 2rem;
    white-space: pre-line;
    text-align: left;
    padding-bottom: 10px;
    padding-right: 4px;
}